POSTGRES_DB=class_schedule
POSTGRES_USER=class_schedule
POSTGRES_PASSWORD=class_schedule
DATABASE_URL=jdbc:postgresql://localhost:5432/class_schedule
DATABASE_USERNAME=class_schedule
DATABASE_PASSWORD=class_schedule
APP_AUTH_BOOTSTRAP_USERNAME=planner
APP_AUTH_BOOTSTRAP_PASSWORD=change-this-in-local-env
APP_PDF_FONT_PATH=
APP_PDF_FONT_NAME=
